# Mac/OSX
.DS_Store

*__pycache__/
*.py[cod]
*$py.class
.Python

.vscode

# Jupyter Notebook
.ipynb_checkpoints


.pre-commit-config
setup.cfg
pyproject.toml

trash/
checkpoints/*
!checkpoints/final_checkpoints
logs/*
!logs/final_logs
runs/*
!runs/final_runs
recordings/
screenshots/
references/
plots/evaluations/
unit_tests/
